{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block main %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome Page</span></h1>
            </div>

            <div id="s3demo">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('storage_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> Go to Storage
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}